.container {
  height: 99vh;
}

.loginPage form {
  border: 1px solid #dee2e6;
  padding: 40px;
  width: 450px;
  border-radius: 5px;
  background-color: #fff;
}
.loginPage .text-center button {
  width: 100%;
  background-color: #0959ce;
}
.loginPage span {
  position: absolute;
  right: 0;
}
.loginPage a {
  text-decoration: none;
}
.form-pass {
  position: relative;
}
.loginPage {
  background-color: #f0f8ff75;
  border-top: 2px solid #0a58ca;
}

@media (max-width: 576px) {
  .loginPage form {
    width: 360px;
  }
}
